<!DOCTYPE html>
<html>
<head>
	<title>Email Verification</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div class="formDiv">
	<form action="/submit" method ="post">
		Email address: <input type="text" name="email">
		<input type="submit">
	</form>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<p>{{message}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	</div>

</body>
</html>